@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Medium.eot');
    src: url('/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Avenir LT Std', Arial, sans-serif;
    font-size: 14px;
}

.t-input {
    font-family: 'Avenir LT Std', Arial, sans-serif;
    font-size: 15px;
}

.t-text {
    font-size: 14px;   
}

.t-id {
    font-size: 8px;
}

.t-back {
    font-size: 10px;
}

.t-error {
    font-size: 12px;
    color: $c-error;
}

.t-logout {
    font-size: 12px;
}